@model Netherpad.ViewModels.EditDocumentViewModel

@{
	ViewBag.Title = @Model.Document.Name;
}


<div class="row">
	<div class="span9">
		<h2>@Model.Document.Name</h2>
		@using (Html.BeginForm("Save", "Documents", new { identifier = Model.Document.Identifier }))
		{
			@Html.TextArea("Content", Model.Document.Content, new {id="document_content", style="width: 100%; height: 300px;"})
			<p><input type="submit" value="Save Changed" /></p>
		}

		<h2>Preview</h2>

		@Model.Document.Content
	</div>
	<div class="span3">
		<h2>Versions</h2>
		<ul>
		@foreach (var version in @Model.Versions)
		{
			<li>@version.Version</li>
		}
		</ul>
	</div>
</div>


@section scripts
{
	@Scripts.Render("~/bundles/signalr")

	<script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script> 
	@Scripts.Render("~/bundles/share")
	
	<script>
		
		$(document).ready(function () {
			
		});
	</script>
		<script type="text/javascript">
			var session_name = '@Model.Document.Identifier';

			$(window).load(function () {
				// Obtain the server name from the current URL (we need this to construct the WebSocket URL)
				var server_name_match = /:\/\/([^\/]+)(?:\/|$)/.exec(document.location.href);
				if (server_name_match != null) {
					var server_name = server_name_match[1];
				} else {
					var server_name = "127.0.0.1:8080";
				}

				console.debug("Using WebSocket server", server_name, "and session name", session_name);

				var edit = document.getElementById("document_content");
				var collabEdit = new CollaborativeEditor(edit, "http://" + server_name + "/transport", session_name);

				if (window.WebSocket) {
					$("#websocket-notice").hide();
				}
			});
	</script>
}
